<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Reading List</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" th:action="@{/login}" class="form-signin">
        <h2 class="form-heading">Log in</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username" autofocus="true" />
            <input name="password" type="password" class="form-control" placeholder="Password" />
            <span th:text="${error}"></span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
    </form>
</div>
</body>
</html>