<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Reading List</title>
</head>
<body>
<div layout:fragment="content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p class="panel-title">Your Reading List</p>
        </div>
        <div class="panel-body">
            <div th:unless="${#lists.isEmpty(bookList)}" class="list-group">
                <div th:each="book : ${bookList}" class="list-group-item">
                    <div class="list-group-item-heading">
                        <b th:text="${book.title}">Title</b> by
                        <b th:text="${book.author}">Author</b>
                        (ISBN: <b th:text="${book.isbn}">ISBN</b>)
                    </div>
                    <div class="list-group-item-text">
                    <span th:if="${book.description}"
                          th:text="${book.description}">Description</span>
                        <span th:if="${book.description eq null}">
                        No description available</span>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(bookList)}">
                <p>You have no books in your book list</p>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="panel-title">Add a book</p>
                </div>
                <div class="panel-body">
                    <form th:action="@{/save}" class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title"/><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="author" class="col-sm-2 control-label">Author:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="author" /><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="isbn" class="col-sm-2 control-label">ISBN:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="isbn" /><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description:</label>
                            <div class="col-sm-10">
                                <textArea name="description" class="form-control" rows="5" cols="80" ></textArea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <!-- put here custom scripts -->
</th:block>
</html>